body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/3708554/pexels-photo-3708554.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.formu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
  cursor: pointer;
  margin: 2% 10%;
}

.formu ul {
  margin-left: 650px;
}
.formu ul li {
  height: 60px;
  padding: 12px;
  list-style: none;
  display: inline;
}
ul li a {
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
}
.formu li a:hover {
  color: #00b39b;
}
.title h1 {
  color: #fff;
  font-size: 70px;
}
form {
  margin: 0 auto;
  width: 400px;
  margin-top: -10%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  background: none;
}

input,
textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;

  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}
